// Customizations
html,
html>body,
html>body>div#root,
html>body>div#root>div.App,
html>body>div#root>div.App>div.container-fluid,
html>body>div#root>div.App>div.container-fluid>div.row {
  height: 100vh;
  overflow: hidden;
}

#filter-menu {
  overflow: auto;
}

#filter-menu,
#filter-menu>div.accordion {
  max-height: 94vh;
}

#filter-menu>div.accordion>div.accordion-item {
  align-items: stretch;
  // max-height: 72vh;
}

div.accordion-item {
  padding-left: 15px;
}

#filter-menu>div.accordion>div.accordion-item>div.accordion-collapse {
  //   max-height: 66vh;
  overflow: auto;
}

// Import everything for now
// Import specifics eventually as importing unused components is inefficient
@import "../node_modules/bootstrap/scss/bootstrap.scss";